/*
Sets the font for the whole page
*/
@font-face {
    font-family: "Roboto Condensed";
    src: url("./res/fonts/RobotoCondensed-Regular.ttf");
}

* {
    color: navy;
    font-family: "Roboto Condensed";
}

h1 {
    color: rgb(172, 27, 27);
}

h2 {
    color: #32a85a;
}

b {
    background-color: hsl(33, 100%, 50%);
}