/*
Sets the font for the whole page
*/
@font-face {
    font-family: "Roboto Condensed";
    src: url("./res/fonts/RobotoCondensed-Regular.ttf");
}

* {
    color: navy;
    font-family: "Roboto Condensed";
}

header {
    position: fixed;
    background-color: black;
    color: white;
}

h1 {
    color: rgb(172, 27, 27);
    text-align: center;
    position: absolute;
}

h2 {
    color: #32a85a;
    text-decoration: line-through;
}

b {
    background-color: hsl(33, 100%, 50%);
}